<!DOCTYPE html>
<html>
    <head>
        <title>Editor Page</title>
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <!-- get_url_param -->
        <script src="https://gist.github.com/662940.js"></script>
        <script>
            $(function(){
                /* Load URL params */
                var token = get_url_param('token');
                var status = get_url_param('status');
                /*
                    Get the form content:
                    1. Make AJAX call to '/xep/xform/{token}/'
                    2. Load the response into the DOM
                 */
                var xform_url = '/xep/xform/' + token + '/';
                $.get(xform_url, function(data){
                    $("#xform").text(data);
                });

                /*
                    Add the token to the DOM
                 */
                $("#token").attr('value', token).hide();
                /*
                    Display a message, depending on the status:
                    1. "" -> Haven't yet tried to save.
                    2. "OK" -> Successfully saved to HQ
                    3. "failed" -> Tried to save to HQ but failed
                 */
                $("#status").text(function(){
                    if(status == "OK") {
                        return "Successfully saved to HQ.";
                    }
                    else if(status == "failed") {
                        return "Failed to save to HQ!";
                    }
                    else {
                        return status;
                    }
                }());
            });
        </script>
    </head>
    <body>
        <p id="status"></p>
        <!--
            To save to HQ, make the following POST to /xep/save (on the *edit* server, not hq)
            1. "token" (this identifies your session)
            2. "xform" (the text you want to save)
            3. "continue" ("true" or "false"; whether to continue editing or to go back to HQ)
        -->
        <form method="POST" action="/xep/save/">
            <input type="hidden" id="token" name="token" />

            <textarea id="xform" name="xform" rows="15" cols="30"></textarea> <br />
            <input type="radio" name="continue" value="false" checked="checked"/> Save and Quit <br />
            <input type="radio" name="continue" value="true" /> Save and Continue <br />

            <input type="submit" value="Go!"/>
        </form>
    </body>
</html>